body {
  margin-top: 80px;
}

.words {
  padding-right: 0.25em;
}

#wordNumber {
  margin-right: 1px;
}

#invalid {
  display: none;
}

#generatedPassword {
  display: none;
  background-color: rgb(236, 236, 236, 1);
  overflow-y: scroll;
}
